.Header {
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #282c34;
    color: aqua;
}
